{% extends "../../../site/templates/layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/modules/interest/interest.css" />
<script src="/modules/interest/interest.js"></script>
{% endblock %}

{% block content %}
	{% block interestButton %}
		<div class="box interest-box default-hidden shown">
			{% block interestDescription %}
				<h1>Are you interested?</h1>
			{% endblock %}
			<button onclick="Interest.sendReply('yes')">Yes!</button>
			<button class="yellow" onclick="Interest.sendReply('maybe')">Maybe</button>
		</div>
		<div class="box school-box default-hidden">
			{% block schoolDescription %}
				<h1>What school do you attend?</h1>
			{% endblock %}
			<form onsubmit="Interest.schoolSignup(school.value);return false;">
				<input type="text" name="school" placeholder="UCF, Lake Mary High">
				<input type="submit" value="Submit">
			</form>
		</div>
		<div class="box mailing-list default-hidden">
			{% block mailingListDescription %}
				<h1>Got it, thanks!</h1>
				<h2>Want to stay in the loop?</h2>
				<form onsubmit="Interest.mailSignup(email.value);return false;">
					<input type="text" name="email" placeholder="kate@kde.org">
					<input type="submit" value="Let me know">
				</form>
				{% block mailingListSubDescription %}
					We'll only email you when there's important news, like registration opening. Promise.
				{% endblock %}
			{% endblock %}
		</div>
		<div class="box thanks default-hidden">
			{% block thanksDescription %}
				Hope to see you soon.
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}

