html, body {
  margin: 0;
}

body {
  background: url("../img/carina-nebula.jpg");
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Lato";
  color: #fff;
}

.header {
  padding: 20px;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 40px;
}

a {
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 0 10px #000;
}

a:hover {
  text-decoration: underline;
}


.box {
  display: block;
  height: 300px;
  text-align: center;
}

.box button, .box input[type=submit] {
  width: 150px;
  height: 100px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.25s ease;
  border: 0;
  background: rgba(0,0,0,0.5);
  outline: none;
  font-family: Oswald;
  font-weight: bold;
  border-radius: 10px;
  /* border-bottom: #68A075 solid 5px; */
  /* border-right: solid 5px #68A075; */
  vertical-align: top;
  color: #fff;
}

.box button.yellow {
  /* background: #83E7C1; */
  /* border-bottom: #6EBA9D solid 5px; */
  /* border-right: solid 5px #6EBA9D; */
}

.box input[type=submit] {
  font-size: 25px;
  height: 70px;
}

.box button:hover, .box input[type=submit]:hover {
  box-shadow: 0 0 30px #fff;
}

.box input[type=text] {
  border: solid 1px #ABABAB;
  font-size: 33px;
  height: 58px;
  vertical-align: bottom;
  padding: 5px;
  outline: none;
}

@keyframes jiggly {
  0% {
    transform: rotate(10deg);
  }
  49% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.heart {
  font-size: 150px;
}

.footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer .icon {
  font-size: 35px;
  margin: 0 5px;
  text-decoration: none;
}

.footer .cc-attribution {
  font-size: 10px;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-gj2unw');
	src:url('fonts/icomoon.eot?#iefix-gj2unw') format('embedded-opentype'),
		url('fonts/icomoon.woff?-gj2unw') format('woff'),
		url('fonts/icomoon.ttf?-gj2unw') format('truetype'),
		url('fonts/icomoon.svg?-gj2unw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e9da";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-github:before {
	content: "\eab1";
}

