body {
	background: #404040;
	font-family: 'Raleway';
	color: #fff;
}
img {
	display: block;
	position: relative;
	margin: auto;
	margin-top: 50px;
}
input[type=text] {
	margin: 10px;
	padding: 10px;
	font-size: 14px;
	width: 90%;
}
select {
	margin: 10px;
	padding: 10px;
	font-size: 24px;
	width: 300px;
	display: block;
	position: relative;
	margin-left: 30px;
	margin-bottom: 10px;
	border: solid 1px #aaa;
	border-radius: 0px;
	background: #fff;
}
input[type=checkbox], input[type=radio] {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	width: auto;
}
label {
	display: inline-block;
	vertical-align: top;
}
.welcome {
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.radio-item {
	margin-left: 30px;
}
.form {
	margin: auto;
	width: 500px;
	background: #fafafa;
	color: #444;
	padding: 15px;
}
button {
	margin-top: 20px;
}
.loading-box {
    font-family: monospace;
    color: #fff;
    position: fixed;
    top: calc(50% - 100px);
    bottom: 50%;
    left: calc(50% - 150px);
    right: 50%;
    padding: 20px;
    background: #000;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
	font-family: monospace;
	color: #fff;
}
.loading-box h1 {
	text-align: center;
	font-family: 'Raleway';
	font-size: 20px;
	margin: 0;
}
.loading-box p {
	word-wrap: break-word;
}
.loading-box .background {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
