.default-hidden {
  opacity: 0;
  transition: all 1s ease;
  transform: rotateX(-90deg);
  overflow: hidden;
  max-height: 0;
  margin: 0;
}

.default-hidden.shown {
  opacity: 1;
  transform: rotateZ(0);
  max-height: 600px;
}
