<!doctype html>
<html>
	<head>
		<title>Knight Hacks Confirmation</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:300,400,700|Hind:300,400,700" rel="stylesheet">
		<link href="/modules/confirmation/styles.css" rel="stylesheet">
		<script src="/modules/confirmation/confirm.js"></script>
		<script>
			var USER_ID = {{ id }};
			var TOKEN = "{{ token }}";
		</script>
	</head>
	<body>
		<img src="/assets/img/logo.png" width="500"><br>
		<div class="welcome">
			You're going to Knight Hacks!<br>Submit the form below to save your seat.
		</div>
		<div class="form">
			<h2>Hi there!</h2>
			<div>
				We think you are:
				<p>{{ name }}</p>
				<p>{{ email }}</p>
				<p>If either of those are incorrect, please contact team@knighthacks.org</p>
			</div>
			<h2>T-shirts</h2>
			<select id="tshirt">
				<option disabled selected>T-shirt size</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>Women's fitted S</option>
				<option>Women's fitted M</option>
				<option>Women's fitted L</option>
				<option>XL</option>
				<option>XXL</option>
				<option>XXXL</option>
			</select>
			<h2>Any dietary restrictions?</h2>
			<div class="radio-item">
				<input type="radio" name="dietary" id="dietary-1" value="0" onclick="updateDietary()">
				<label for="dietary-1">No</label>
			</div>
			<div class="radio-item">
				<input type="radio" name="dietary" id="dietary-2" value="1" onclick="updateDietary()">
				<label for="dietary-2">Yes</label>
				<input type="text" placeholder="Explain" id="dietary-explain"><br>
			</div>
			<h2>Transportation</h2>
			<div class="radio-item">
				<input type="radio" name="come-without-transport" id="transport-1" value="0">
				<label for="transport-1">I can come without transportation</label>
			</div>
			<div class="radio-item">
				<input type="radio" name="come-without-transport" id="transport-2" value="1">
				<label for="transport-2">I require transportation to attend</label>
			</div>
			<h2>Share your resume! (optional)</h2>
			<input type="file" id="resume-file">
			<input type="text" id="url" placeholder="Link to website, resume, portfolio, etc.">
			<h2>Almost there...</h2>
			<div class="radio-item">
				<input type="checkbox" id="agree" value="1">
				<label for="agree">I agree to abide by the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">code of conduct</a></label>
			</div>
			<button class="submit" id="submit-form">Submit!</button>
			<div class="loading-box">
				<div class="background"></div>
				<h1>Uploading resume...</h1>
				<p>$ curl -X POST -F "data=@<span id="filename"></span>" https://knighthacks.org/api/confirm/resume</p>
				<div id="equals"></div>
			</div>
		</div>
	</body>
</html>

