<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Knight Hacks{% endblock %}</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta property="og:description" itemprop="description" content="Will you attend the first Hackathon at UCF?" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" />
		<link href='//fonts.googleapis.com/css?family=Lato|Oswald:400,700' rel='stylesheet' type='text/css'>
		<script src="/js/layout.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-61845830-1', 'auto');
			ga('send', 'pageview');
		</script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="header">
			<img src="img/logo.png" alt="swords" width=500>
			<h1>01/15/16</h1>
			<a class="apply" href="apply">Apply Now</a>
		</div>
		<div class="links">
			<ul>
				<li><a href="#about">Mission</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#faq">FAQ</a></li>
				<li><a href="#sponsors">Sponsors</a></li>
				<li><a href="#faq">Conduct</a></li>
			</ul>
		</div>

		<div class="divider a">
			<h1>Mission</h1>
			<i>Giving people a space to learn and do things they’ve never done before.</i>
		</div>
		<div class="divider b">
			<h1>Schedule</h1>
			Kickoff: 1/15/16 at 11pm *shrug*
		</div>
		<div class="divider c">
			<h1>FAQs</h1>
			<h2>What is a hackathon?</h2>
			An event where people collaborate intensively on hardware and software projects. Some hackathons are intended simply for educational or social purposes, although in many cases the goal is to create usable software. 
			<h2>Who can attend?</h2>
			Anyone that is currently enrolled at a university during the time of this event may compete. If you’re not a student, consider mentoring or volunteering [inc. links for mentor/volunteer signup]!
			<h2>Will there be transportation?</h2>
			We will be providing bus transportation for non-UCF students to and from the venue. Our bussing schedule will be posted here [inc. link]. For those choosing to drive to the event, including UCF students, temporary parking passes will be provided and instructions on where to park will be posted here [inc. link].
			<h2>What should I bring?</h2>
			Bring your student ID, laptop, and any other materials you may need as you work on your project - chargers, power strips, keyboards, Raspberry Pis, etc. We also recommend you bring toiletries and a change of clothes so you can feel refreshed after working through the night.
			<h2>What can't I bring?</h2>
			Do not bring any kind of drugs, weapons, or alcohol.
			<h2>What can I hack on?</h2>
			Although we strongly encourage you to hack on something that will benefit other students or peers, you are free to hack on anything, as long as it is within the Code of Conduct standards. We will be providing various resources (expand on this once we have info from sponsors - APIs, hardware, etc) and you are free to bring outside materials as well (see What should I bring?).
			<h2>What if I don’t have an idea?</h2>
			Don’t worry! Many hackers arrive with no idea of what they’ll want to make. We suggest you take a look at the resources our sponsors will be providing and come prepared to chat with other hackers, whether you’re looking for a team, a great idea, or just to meet new faces.
			What if I don’t have a team?

			<h2>Will there be food?</h2>
			We’ve got you covered - we’ll be providing enough food and caffeine to power you through the entire hackathon. You’re welcome to bring any snacks and drinks (again, no alcohol) you absolutely can’t live without as well.
		</div>
		<div class="divider c">
			<h1>Code of conduct</h1>
			Be kind and respectful - this applies to attendees, organizers, venue, and equipment. Harassment and abuse are never tolerated. If you are in a situation that makes you uncomfortable or see someone else in an uncomfortable situation, please report it to any official hackathon organizer.

			Our hackathon is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, nationality, religion, previous hackthon attendance or computing experience (or lack of any of the aforementioned). We do not tolerate harassment of hackathon participants in any form. Sexual, racist, and generally NSFW language and imagery is not appropriate at any hackathon venue, including hacks, talks, workshops, parties, social media and other online media. Hackathon participants violating these rules may be sanctioned or expelled from the hackathon without a refund (if applicable) at the discretion of the hackathon organisers. Additionally, we are not responsible for any lost, stolen, or damaged personal items that are brought to the event. (courtesty of http://hackcodeofconduct.org/)
		</div>

		<div class="footer">
			<a class="icon icon-facebook3" href="https://facebook.com/knighthacks"></a>
			<a class="icon icon-twitter3" href="https://twitter.com/knighthacks"></a>
			<a class="icon icon-github" href="https://github.com/knighthacks"></a>
			<p>Knight Hacks at UCF</p>
			<p>tea<!-- -->m@knighthacks.org</p>
			<p class="cc-attribution">Background by <a href="http://www.eso.org/public/images/eso1208a/">ESO/T. Preibisch</a> <a href="http://creativecommons.org/licenses/by/4.0">CC BY 4.0</a></p>
		</div>
	</body>
</html>

